// Navigation Styles here
.nav-container {
    display: flex;
    margin: 1rem;
    align-items: center;

  nav {
      margin-left: 35rem;
  }

    a {
        justify-items: space-evenly;
        margin: 2rem;
        text-decoration: none;
        color: black;
        vertical-align: center;
    }
}