.navigation{
    justify-content: space-between;
    border-bottom: 2px dashed silver;
    margin-top: 2rem;
     .heading{
        display:flex;
        justify-content: flex-start;
        padding-right: 31rem;
        padding-top: 1rem;
        align-content: flex-start;
    }
    & nav{
        display:flex;
        justify-content: flex-end;
        
    }
    a{
        padding: 2rem;
        font-family:  'Roboto', sans-serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

